<body>
    <section class="d-md-block py-1 header">
        <div class="container">
            <div class="row justify-content-md-between align-items-center">
                <div class="col-12 col-sm-auto">

                    <h1 class="name">Music Box</h1>
        
                </div>
            
            </div>
        </div>
    </section>
</body>
