body {
    font-family: 'Montserrat', sans-serif;
}

.main-body {
    height: 30rem;
    background-image: url(/assets/img/audio.png);
    background-size: cover;
    background-position: top center;
    /* padding-top: 1px; */
}

.add-audio-container {
    /* border: 10px solid white !important; */
    padding-top: 20px;
}

.check-audio-container {
    padding-top: 20px;
}

.main-text {
    font-family: "Allerta Stencil", Sans-serif;
}

.add-audio {
    background-color: #624599;
}

.check-audio {
    background-color: #624599;
}

.white {
    background-color: white;
}

.add-audio-icon {
    font-size: 2.8rem !important;
    color: white;
}

.show-info {
    border-bottom: 2px solid white;
}

.convert {
    font-size: 2rem !important;
}

.add-audio-icon:hover {
    color: #4cb8b3;
}

.add-audio-text {
    color: white;
    padding-top: 17px;
}

.current-audio {
    color: white;
    padding-top: 17px;
    font-size: 1rem !important;
}

.compatible-text a {
    color: white !important;
}

.compatible-text a:hover {
    font-size: 23px;
}


/* For btn */

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-outline-success {
    color: #624599;
    border-color: #624599;
    border: 2px solid;
}

.btn-outline-success:hover {
    color: white;
    background-color: #624599;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: white;
}

.table-responsive {
    height: 235px;
}

th {
    font-weight: bold;
    text-align: -internal-center;
}

.hovertr {
    background-color: white;
    color: #624599!important;
}

.hovertr:hover {
    background-color: white;
    color: #4cb8b3!important;
}

.btn-file {
    position: relative;
    overflow: visible;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}