<app-header></app-header>

<section class="main-body">
    <div class="container">
        <div class="row">

            <div class="col-md-6 add-audio-container">
                <div class="container white">
                    <h2 class="text-center mb-3 pt-3 main-text"> Audio converter</h2>
                    <div class="row">
                        <div class="col-md-12 add-audio">

                            <div class="text-center">

                                <h3 class="add-audio-text text-center" *ngIf="!currentAudio">

                                    <span class="btn btn-default btn-file">
                                        <i class="fa fa-plus-circle add-audio-icon" aria-hidden="true"></i>
                                        <input  type="file" name="file" [(ngModel)]="fileAdded" 
                                                (change)="fileChanged($event)" 
                                                accept=".mp3, .AIF, .flac,.ogg, .wav">
                                    </span> Add your audio.
                                </h3>
                                <h3 class="current-audio text-center" *ngIf="currentAudio">
                                    {{currentAudio}}
                                </h3>

                            </div>

                            <h4 class="text-center compatible-text">
                                <a (click)="showInfo()" class="show-info">Compatible formats</a></h4>

                        </div>
                        <div class="col-md-12 convert-audio pt-3">

                            <form class="form-inline justify-content-center">

                                <div class="form-row">
                                    <div class="input-group-prepend">
                                        <label class="mr-2">Convert to:</label>
                                    </div>
                                    <div class="input-group-prepend">
                                        <select class="custom-select" name="format" id="inlineFormCustomSelect" [(ngModel)]="formatSelected">
                                            <option value="mp3">MP3</option>
                                            <option value="AIF">AIF</option>
                                            <option value="flac">FLAC</option>
                                            <option value="ogg">OGG</option>
                                            <option value="wav">WAV</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <div class="text-center mt-4 mb-4">
                                <button type="button" class="btn btn-outline-success convert" (click)="convertAudio()"><i class="fa fa-play-circle-o convert" aria-hidden="true"></i>
                                    Convert</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6 check-audio-container">
                <div class="container white">
                    <h2 class="text-center mb-3 pt-3 main-text"> Check your converted audios</h2>
                    <div class="row">
                        <div class="col-md-12 check-audio">
                            <div class="table-responsive">
                                <table class="table table-hover text-center mt-3">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Name</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Download</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let audio of audiosList">
                                        <tr class="hovertr">
                                            <td>{{audio.name}}</td>
                                            <td *ngIf='audio.id_status == 1'>Pending</td>
                                            <td *ngIf='audio.id_status == 2'>Completed</td>
                                            <td *ngIf='audio.id_status == 3'>Failed</td>
                                            <td class="text-center">
                                                <button [disabled]="audio.id_status == 1 || audio.id_status == 3" type="button" class="btn btn-outline-success" (click)="getAudioDownloaded(audio.id_message)">
                                                    <i class="fa fa-download" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<app-footer></app-footer>