<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="title">About Us</h4>
                    <p class="about-us">Music Box is a web platform that allows you to convert your audios to different formats</p>
                </div>
                <div class="col-md-4 name">
                    <h1 class="animated rubberBand music">Music Box</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            <p>Copyright@Music Box 2019</p>

            <hr class="w-100">
        </div>

    </div>
</footer>