.footer {
    background-color: #321445;
}

footer .footer {
    background: #321445;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

footer .footer .title {
    font-size: 32px;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 10px;
}

footer .footer .about-us {
    margin-bottom: 5px;
}

footer .footer .name {
    margin-top: 12px;
}

footer {
    background: white;
}

footer .copyright {
    text-align: center;
    margin-top: 8px;
    color: #321445;
}

.music {
    color: aqua;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

hr {
    border-top: 2px solid #624599;
}